@use '../abstracts/functions' as f;
@use '../abstracts/mixins' as m;
@use '../abstracts' as *;

@layer layout {
    .preview-card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 1rem;
        background-color: var(--clr-background);
    }
}

