
@layer base {
    @font-face {
        font-family: 'big-shoulders-display';
        src:
            url('../fonts/big-shoulders-display-bold.woff2') format('woff2'),
            url('../fonts/big-shoulders-display-bold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'lexend-deca';
        src:
            url('../fonts/lexend-deca-regular.woff2') format('woff2'),
            url('../fonts/lexend-deca-regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }


    :root {
        --ff-title: 'big-shoulders-display', sans-serif;
        --ff-base: 'lexend-deca', sans-serif;
    }
}


